<div class="post-container">
  <h1>Show#Posts</h1>
  <h3 class="title"> <%= @post.title %> </h3>
  <p class="body"> <%= @post.content %> </p>
  <p class="time"> Submitted <%= time_ago_in_words(@post.created_at) %> ago </p>
  <p>
    <% if user_signed_in? %>
      <%= link_to "Delete" , post_path(@post), method: :delete,data: {confirm: "Are you sure ?"} %>
    <% end %>
    <%= link_to "Posts" , posts_path %>
  </p>

  <div class="comments">
    <h4> <%= @post.comments.count %> Comments </h4>
    <%= render @post.comments %>
    <h5>Join Discussion</h5>
    <%= render 'comments/form' %>
  </div>
</div>
