<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="navbar top-navbar">
    <nav>
      <div id="user_nav">
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "header-link", :id => "sign-out" %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => "header-link", :id => "sign-up" %>
          <%= link_to "Sign in", new_user_session_path, :class => "header-link", :id => "sign-in" %>
        <% end %>
        <%= link_to "Posts", posts_path, :class => "header-link", :id => "posts" %>
        <%= link_to "Users", users_path, :class => "header-link", :id => "users" %>
      </div>
    </nav>
  </header>

  <body>
    <% if user_signed_in? %>
    <div class="float-right">
      <table>
        <% current_user.friends.each do |friend| %>
        <tr>
          <td><%= link_to friend.first_name, users_path(friend) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
