<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <header class="navbar top-navbar">
    <nav>
      <div id="user-nav">
        <%= link_to "Home", root_path, :class => "header-link" %>
        <% if !user_signed_in? %>
          <%= link_to "Sign up", new_user_registration_path, :class => "header-link" %>
          <%= link_to "Sign in", new_user_session_path, :class => "header-link" %>
        <% else %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "header-link" %>
          <p class="user-info">Signed in as <%= current_user.email %></p>
        <% end %>
        <%= link_to "Posts", posts_path, :class => "header-link" %>
        <%= link_to "Users", users_path, :class => "header-link" %>

      </div>
    </nav>
  </header>

  <body>
    <% if user_signed_in? %>
    <div class="float-right mini-box">
      <%= render "friendships/friends" %>
    </div>
    <% end %>

    <%= yield %>
  </body>
</html>
